# Environment
.env

# Claude
CLAUDE.md
.claude/

# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Jupyter
.jupyter/

# OS
.DS_Store

# App logs
logs/
*.log
kong/declarative/live-dump.yaml
kong/declarative/current-live-state.yaml
